body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	padding: 5px 5px 5px;
	font-family: serif;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 100%;
	margin: 0%;
}

.postcard-body {
	display: flex;
	font-family: fantasy;
}

* {
	border: 1px grey;
	min-height: 10px;
}

.body-left p:first-child {
	margin-top: 0%;
}

.body-left {
	padding: 5px 5px 5px;
}

.body-right {
	padding: 5px 5px 5px;
}

input {
	border-bottom: groove;
}

.postcard-footer {
	text-align: center;
}
button {
	background-color: grey;
	padding: 10px;
}
